@model TshirtViewModel

<div asp-validation-summary="ModelOnly" ></div>
    <div class="row justify-content-center " >
        <div class="col-sm-5 form-group" >
            <label asp-for="@Model.Name" ></label>
            <input class="form-control " asp-for="Name" />
            <div><span asp-validation-for="Name" ></span></div>
        </div>
        <div class="col-sm-6 form-group" >
            <label asp-for="@Model.Id" ></label>
            <input asp-for="@Model.Id" style="width:100%" 
                readonly="readonly" aria-disabled="true" />
            <div><span asp-validation-for="@Model.Id" ></span></div>
        </div>
    </div>
    <div class="row justify-content-center ">
        <div class=" col-sm-5 form-group" >
            <label asp-for="@Model.Type" ></label>
                <select asp-for="@Model.Type" 
                    option-model-type="@new Camisetas.Models.Type()"
                    option-model-id="@Model.Type"
                    class="custom-select" required="required">
                    <option value="" disabled="disabled">Select a Type</option>
                </select>
            <div><span asp-validation-for="Type" ></span></div>
        </div>
        <div class=" col-sm-3 form-group" >
            <label asp-for="@Model.Price" ></label>
            <input class="form-control" asp-for="Price" />
            <div><span asp-validation-for="Price" ></span></div>
        </div>
        <div class=" col-sm-3 form-group" >
            <label asp-for="@Model.Color" ></label>
                <select asp-for="@Model.Color"
                    option-model-type="@new Color()" 
                    class="custom-select"
                    required="required"
                    option-model-id="@Model.Color">
                    <option value="" disabled="disabled" >Select a Color</option>
                </select>
            <div><span asp-validation-for="Color" ></span></div>
        </div>
    </div>
    <div class="row justify-content-center " >
        <div class=" col-sm-5 form-group" >
            <label asp-for="@Model.Clothing" ></label>
                <select asp-for="@Model.Clothing"
                    option-model-type="@new Clothing()"
                    option-model-id="@Model.Clothing"
                    class="custom-select" 
                    required="required">
                    <option value="" disabled="disabled" >Select a Clothing</option>
                </select>
            <div><span asp-validation-for="Clothing" ></span></div>
        </div>
        <div class=" col-sm-2 form-group" >
            <label asp-for="@Model.Height" ></label>
            <input class="form-control" asp-for="Height" />
            <div><span asp-validation-for="Height" ></span></div>
        </div>
        <div class=" col-sm-2 form-group" >
            <label asp-for="@Model.Size" ></label>
                <select asp-for="@Model.Size"
                    option-model-type="@new Size()"
                    class="custom-select"
                    required="required"
                    option-model-id="@Model.Size">
                    <option value="" disabled="disabled" >Select a Size</option>
                </select>
            <div><span asp-validation-for="Size" ></span></div>
        </div>
        <div class=" col-sm-2 form-group" >
            <label asp-for="@Model.Width" ></label>
            <input class="form-control" asp-for="Width" />
            <div><span asp-validation-for="Width" ></span></div>
        </div>
    </div>
    <div class="row" >
        <div class=" offset-md-1 col-sm-1 form-group" >
            <button type="submit" formmethod="POST" class="btn btn-primary" >
                Save
            </button>
        </div>
        <div class=" offset-md-1 col-sm-1 form-group" >
            <a asp-action="Index" asp-controller="AdminTshirt" role="button" class="btn btn-danger" >
                Cancel
            </a>
        </div>
    </div>